body {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  list-style: none;
}

#info-box :first-letter {
  text-transform: capitalize;
}

#search-form {
  margin: 15px 15px 5px;
}
#day-report {
  padding: 5px 30px;
}

.weather-wrapper {
  max-width: 900px;
  margin: 30px auto;
  padding: 10px 40px;
}
.weather-app {
  /* max-width: 900px;
  margin: 30px auto;
  padding: 20px 40px; */
  border: 0.5px solid gray;
  border-radius: 4%;
}
.float-right {
  display: inline-flex;
}

.float-right #temperature {
  color: rgb(33, 33, 33);
  font-size: 114px;
  line-height: 1;
  font-weight: 200;
}

.units.active {
  cursor: default;
  color: green;
}

.humid-wind-container {
  margin-bottom: 0;
  font-size: 24px;
  display: inline-block;
  padding-top: 15px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
